.fade-enter {
	opacity: 0.01;
	transform: translate(0-10px);
}

.fade-enter-active {
	opacity: 1;
	transform: translate(0, 0);
	transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.fade-exit {
	opacity: 1;
	transform: translate(0, 0);
}

.fade-exit-active {
	opacity: 0.01;
	transform: translate(0, -10px);
	transition: opacity 300ms ease-in, transform 300ms ease-in;
}
